@{
    ViewData["Title"] = "Home";
}



<div class="text-center">
    <h1 class="display-4">Get your arms ready!</h1>
    <p>The enemy is already at your doorstep! As the only protector left in the castle, make sure that they will -not- get inside!</p>
    <iframe frameborder="0" src="https://itch.io/embed-upload/7912853?color=333333" allowfullscreen="" width="1024" height="784"><a href="https://thatabyssegg.itch.io/my-home-is-my-castle">Play DaggerThrower on itch.io</a></iframe>
</div>
